@charset "UTF-8";


/*========== Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	margin:0;
	padding:0;
	border:0;
	color:#444;
	font-size:100%;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Meiryo, Osaka, sans-serif;
	line-height:150%;
	vertical-align:baseline;
	list-style:none;
}

sub {font-size:75%;}
a {color:#006682;text-decoration:underline;}
a:hover {color:#80B2C0;text-decoration:underline;}
a span,h2 span {display:none;}
.layout {margin:0 auto;width:960px;}
img {vertical-align:middle;}
img.left {vertical-align:middle;margin-left:20px;border:solid 1px #ccc;padding:4px;}
img.right{vertical-align:middle;margin-left:300px;border:solid 1px #ccc;padding:4px;}

/* HTML5 */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}


/*========== Base ==========*/
body {background:url(../img/bg_new.png) #ebf4f7 top center repeat-x;}


/*========== Header ==========*/
#header {height:50px;}
#header h1 {float:left;margin-top:10px;}
/*#header h1 a {display:block;background:url(../img/header_logo.png);width:226px;height:60px;}*/
/*#header h1 a {display:block;background:url(../img/O3_title_03.png);width:410px;height:95px;position:absolute;}*/
#header div#header_txt {float:right;}
#header div#header_txt img {margin:5px 5px;}

/*========== titleBack ==========*/
#titleback {
position: absolute;
left: 52%;
height: 30px;
width: 970px;
margin-left: -496px;
/*border : 1px solid #FF9900;*/
}

/*========== Navigation ==========*/
#nav {margin:20px auto;}
#nav ul {margin-left:20px;}
#nav ul li {float:left;}
#nav ul li a,#nav ul li p {display:block;background:url(../img/nav.png);height:24px;}
#nav ul li p span {display:none;}
/*通常*/
#nav ul li a#nav_top {background-position:0 0;width:79px;}
#nav ul li a#nav_research {background-position:-79px 0;width:152px;}
#nav ul li a#nav_download {background-position:-231px 0;width:152px;}
#nav ul li a#nav_press {background-position:-383px 0;width:153px;}
#nav ul li a#nav_event {background-position:-536px 0;width:143px;}
#nav ul li a#nav_link {background-position:-679px 0;width:97px;}
#nav ul li a#nav_contact {background-position:-776px 0;width:144px;}
/*マウスオーバー*/
#nav ul li a#nav_top:hover {background-position:0 -18pt;}
#nav ul li a#nav_research:hover {background-position:-79px -18pt;}
#nav ul li a#nav_download:hover {background-position:-231px -18pt;}
#nav ul li a#nav_press:hover {background-position:-383px -18pt;}
#nav ul li a#nav_event:hover {background-position:-536px -18pt;}
#nav ul li a#nav_link:hover {background-position:-679px -18pt;}
#nav ul li a#nav_contact:hover {background-position:-776px -18pt;}

/*現在地*/
#page_top #nav ul li a#nav_top {background-position:0 -36pt;}
#page_research #nav ul li a#nav_research {background-position:-79px -36pt;}
#page_download #nav ul li a#nav_download {background-position:-231px -36pt;}
#page_press #nav ul li a#nav_press {background-position:-383px -36pt;}
#page_event #nav ul li a#nav_event {background-position:-536px -36pt;}
#page_link #nav ul li a#nav_link {background-position:-678px -36pt;}
#page_contact #nav ul li a#nav_contact {background-position:-777px -36pt;}

/*new nav*/
#pageWrap {width:966px;background-color:transparent;margin-top:124px; margin-bottom: 15px; margin-left:auto; margin-right:auto;
}
#pageBody {width:100%;}
#pageBody div.hoverBtn {position:relative;float:left;background:black url(../img/navBG.png) repeat-x 0 0 scroll;}
#pageBody div.hoverBtn a {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#000;background:transparent none repeat-x 0 0 scroll;}
#pageBody div.hoverBtn a#nav_top {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_research {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_download {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_press {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_event {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_link {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn a#nav_contact {position:relative;z-index:2;display:block;width:138px;height:30px;line-height:30px;text-align:center;font-size:1.1em;text-decoration:none;color:#FFF;}
#pageBody div.hoverBtn div {display:none;position:absolute;z-index:1;top:0px;background:white url(../img/navHover.png) repeat-x 0 0 scroll;}
#pageBody p {padding-top:	10px;margin:0.5em 0;}
#pageBody .clear{ clear: both; }


/*========== Contents ==========*/
#section {}
#section h1 {margin-bottom:10px;width:960px;}
.img_comment {position:absolute;top:200px;left:630px;z-index:1;padding:10px;margin:0;text-shadow:3px 3px 3px #000;color:#FFF;font-size:250%;} 
#section #contents {padding:1px;background: #FFF top center no-repeat;}
#section #contents div {padding:24px 20px;font-size:80%;}
#section #contents div article h2 {font-size:180%;margin-bottom:15px;padding-left:10px;background:url(../img/h2.png);}
#section #contents div article h2 sub {}
#section #contents div article h3 {margin-bottom:15px;border-bottom:#ff8200 2px solid;color:#057095; font-size:140%;line-height:110%;}
#section #contents div article p {margin-bottom:10px;margin-left:20px;}

#section #contents div article #research {margin-bottom:10px;margin-left:40px;}
#section #contents div article #research h3 {margin-bottom:15px;border-bottom:#ff8200 2px solid;color:#057095; font-size:140%;line-height:110%;}
#section #contents div article #research p {margin-bottom:10px;margin-left:20px;font-size:125%;}


#section #contents div#contacts {margin-top:-20px;padding:24px;background:#c0dbe5;}
#section #contents div#contacts h2 {}
#section #contents #contacts ul li {margin-bottom:5px;margin-left:20px;}
/* #section #contents div#contacts a {position:absolute;display:block;margin:-80px 0 0 632px;} */
/* #section #contents div#contacts a:hover {background-position:0 -80px;} */
#section #contents #formWrap {width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents #formWrap table.formTable{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents #formWrap table.formTable td,table.formTable th{border:1px solid #ccc;padding:10px;}
#section #contents #formWrap table.formTable th{width:30%;vertical-align:middle;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:left;}

#section #contents div article #eventinfo{width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents div article #eventinfo dt{padding: 0px 0px 0px 30px;}
#section #contents div article #eventinfo table{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents div article #eventinfo table td,table th{border:1px solid #ccc;padding:10px;vertical-align:middle;}
#section #contents div article #eventinfo table th.date{width:20%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #eventinfo table th.event{width:55%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #eventinfo table th.exhibit{width:25%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}

#section #contents div article #backnumber{width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents div article #backnumber dt{padding: 0px 0px 0px 30px;}
#section #contents div article #backnumber table{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents div article #backnumber table td,table th{border:1px solid #ccc;padding:10px;vertical-align:middle;}
#section #contents div article #backnumber table th.date{width:20%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #backnumber table th.title{width:55%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #backnumber table th.who{width:25%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}

#section #contents div article #press {width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents div article #press table{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents div article #press table td,table th{border:1px solid #ccc;padding:10px;vertical-align:middle;}
#section #contents div article #press table th.date{width:14%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #press table th.title{width:63%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #press table th.who{width:23%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}

#section #contents div article #OSSDL {width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents div article #OSSDL table{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents div article #OSSDL table td,table th{border:1px solid #ccc;padding:10px;vertical-align:middle;}
#section #contents div article #OSSDL table th.date{width:14%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #OSSDL table th.contents{width:63%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #OSSDL table th.type{width:23%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}

#section #contents div article #PaperDL {width:700px;margin:0 auto;color:#555;line-height:120%;font-size:90%;}
#section #contents div article #PaperDL table{width:100%;margin:0 auto;border-collapse:collapse;}
#section #contents div article #PaperDL table td,table th{border:1px solid #ccc;padding:10px;vertical-align:middle;}
#section #contents div article #PaperDL table th.date{width:14%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #PaperDL table th.event{width:63%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #PaperDL table th.paper{width:23%;color:#FFF;font-weight:normal;background:#3ca5dd;text-align:center;}
#section #contents div article #PaperDL table td.paper a {background:url(../img/pdficon_small.png);width:16px;height:16px;background-repeat:no-repeat;padding-left:18px;}


#section #contents div article #acMenu dt{
	display:block;
	width:654px;
	line-height:50px;
	cursor:pointer;
/*	background:url(../img/i_swich.png) 10px -69px no-repeat;*/
	background:url(../img/i_swich.png) 4px 15px no-repeat;
	padding-left:30px;
	padding-right:15px;
	border-bottom:#666 2px solid;
	color:#057095;
	font-size:125%;
	margin-bottom:10px;
}
#section #contents div article #acMenu dd{
	background:#f2f2f2;
	width:700px;
	line-height:50px;
	display:none;
}
#section #contents div article #acMenu dt.active{
	background:url(../img/i_swich.png) 4px -66px no-repeat;
}
#section #contents #sitemap ul li {margin-bottom:5px;margin-left:20px;list-style-type:disc;font-size:120%;}


/*TOP*/
#page_top #section #contents {background:url(../img/contents_bg_top.png) #FFF top center repeat-x;}
#page_top #section #contents div {/*margin-top:300px;*/padding:24px;}
#page_top #section #contents div article.copy {float:left;width:610px;}
#page_top #section #contents div article.copy h2 {font-size:180%;}
#page_top #section #contents div article.copy p {font-size:100%;margin-left:20px;}
#page_top #section #contents div article.copy ul li {margin-bottom:5px;margin-left:20px;}
#page_top #section #contents div article.copy #whatsnew {
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
width:550px;
margin: 1px 0;
padding: 2px;
overflow: auto;
height: 150px;
margin-left:20px;
border: 1px solid #2962ad;/*枠の色*/
background: #FFFFFF;/*背景の色*/
scrollbar-arrow-color:#3ca5dd;/*スクロールバーの色*/
scrollbar-3dlight-color:#3ca5dd;/*スクロールバーの色*/
scrollbar-darkshadow-color:#3ca5dd;/*スクロールバーの色*/
scrollbar-face-color:#FFFFFF;
scrollbar-track-color:#FFFFFF;
scrollbar-track-color:#cccccc;
scrollbar-shadow-color:#cccccc;
}

#page_top #section #contents div article.copy #whatsnew p {margin: 0;padding: 4px;font-size: 120%;border-bottom: 1px dotted #000099;/*文字に下線を引く*/}
#page_top #section #contents div article.copy #members table td{hright:60px;font-size:120%;}

#page_top #section #contents div article.add {float:right; border:#32B0F0 5px outset;padding:4px;width:280px;margin-bottom:10px;}
/*#page_top #section #contents div article.add {float:right; border:#32B0F0 5px solid;padding:4px;width:280px;}*/
#page_top #section #contents div article.add h2 {margin:0;padding:15px 0;background:#32B0F0;text-align:center;color:#FFF;}
#page_top #section #contents div article.add sub {color:#FFF;}
#page_top #section #contents div article.add p {margin:0;padding:25px 0;text-align:center;font-size:125%;}
#page_top #section #contents #contacts ul li {margin-bottom:5px;margin-left:20px;}

#page_top #section #contents div article.member {float:left;width:850px;}

/*coming soon*/
#section #contents div article p.comingsoon {padding:20px;background:#FFF;border:#057095 1px dotted;color:#4494af;font-size:125%;font-weight:bold;text-align:center;}

#footer_navi {margin-top:-20px;padding:24px;background:#c0dbe5;text-align:right;}
#footer_navi li {display:inline;list-style-type:none;margin-right:6px;padding-left:10px;}
#footer_navi li+li {border-left:1px solid #999;}
#footer_navi li a {text-decoration:none;}


/*========== Footer ==========*/
#copyright {margin-top:10px;text-align:center;font-size:80%;}


/*========== other ==========*/
/*-------- new_icon ---------*/
.ico_new {position: relative;}
.ico_new:after {content: "";position:absolute;z-index:1;width:40px;height:auto;background:#FF0000;content: "New";text-align:center;color:#fff;font-family:sans-serif;font-size:1.4em;-webkit-transform:rotate(-15deg); /* for Safari,Chrome */ -moz-transform:rotate(-15deg); /* for Firefox */ -o-transform:rotate(-15deg); /* for Opea */ transform:rotate(-15deg); /* CSS3 */ box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);}

/*---------- common ----------*/
.list_end {border:none !important;}
.flt_l {float:left;}
.flt_r {float:right;}
.txt_l {text-align:left;}
.txt_c {text-align:center;}
.txt_r {text-align:right;}
.mt20 {margin-top:20px;}
.mt40 {margin-top:40px;}
.mt40- {margin-top:-40px;}


/*---------- clearfix ----------*/
.clearfix:after {content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0.1em;}
.clearfix {zoom:1;}

img.border1{
	border: 1pt #444 solid;
}
